@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
    font-family: 'Outfit', sans-serif;
    background-color: #fcfbfc;
    overflow-x: hidden;
}

/* Hide Edge's default password reveal (eye) icon to prevent duplicate icons */
input::-ms-reveal {
    display: none;
}
/*To handle the date picker icon css*/
input[type="date"]::-webkit-calendar-picker-indicator {
    margin-left: auto;
    cursor: pointer;
    opacity: 0.6;
}

